<table class="table">
		<tr><%#= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>follows</th>
			<th id="followings_count_<%= user.id %>">
			  <%= render 'relationships/followings_count', user: user %>
			</th>
			  
		</tr>
		<tr>
			<th>followers</th>
			<th id="followers_count_<%= user.id %>">
				<%= render 'relationships/followers_count', user: user %>
			</th>
		</tr>
</table>

<div class="row">
	<% if user == current_user %>
	<%= link_to "" ,edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
	<% else %>
	<%= link_to "" ,user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
	<% end %>
</div>

<%= render 'relationships/follow', user: user %>