<div class="container">
  <p id="notice"></p>
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
<h2>User info</h2>

<%= form_for(@user) do |f| %>

<!-- エラーメッセージ表示-->
<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<!-- エラーメッセージ表示-->
<table class="table">
  <tr>
	<th><%= f.label :name %></th>
	<th><%= f.text_field :name, required: true, class: "col-xs-6" %></th>
  </tr>
  <tr>
	<th><%= f.label :image %></th>
	<th><%= f.attachment_field :profile_image %></th>
  </tr>
  <tr>
	<th><%= f.label :introduction %></th>
	<th><%= f.text_area :introduction, class: "col-xs-6" %></th>
  </tr>
</table>
	<%= f.submit 'Update User', class: "col-xs-3 col-xs-offset-4 btn btn-primary" %>
<% end %>
</div>
</div>
</div>