<%= form_for(book, url: books_path) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
	<div class="field row">
		<%= f.label :title %>
		<%= f.text_field :title,required: true, class: "col-xs-12 book_title" %>
	</div>

	<div class="field row">
		<%= f.label :body %> <!-- ここを変更 -->
		<%= f.text_area :body,required: true, class: "col-xs-12 book_body" %>
	</div>

	<div class="field row">
		<%= f.label :date %></br> <!-- ここを変更 -->
		<!-- カレンダータイプの日付入力フォーム -->
		<%#= f.date_field :date, value: Time.now.strftime("%Y-%m-%d") %>
		<!-- ドロップダウンタイプの日付入力フォーム -->
		<%#= f.date_select :date, discard_year: true, use_month_numbers: true, date_separator: '月', prompt: "--" %>
		<%== sprintf( 
		      f.date_select(
		        :date,
		          {:use_month_numbers => true, 
		          :date_separator => '%s',
		          :time_separator =>'時',
		          :datetime_separator =>'日'},
		          :onchange => "generateDay(this)"
		        ), '年 ', '月'
		      )
		    %>日
	</div>

	<div class="actions row">
		<%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>