<div class="container">
    <p id="notice"></p>
    <div class="row">
	<div class="col-xs-3">
    <% if flash[:notice] %>
     <p><%= flash[:notice] %></p>
    <% end %>
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @a %>

	</div>

        <div style="margin-top: 10px;">
          <%= render 'searches/form' %>
        </div>

        <div class="col-xs-9">
        <h2>Book detail</h2>
		<table class="table table-striped">
				<tr>
					<td>
						<%#= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%=link_to @book.user.name, user_path(@book.user.id) %>
					</td>
					<td><%= @book.title %></td>
					<td><%= @book.body %></td>
					<td><% if @book.user == current_user %>
						<%= link_to "Edit",edit_book_path(@book.id), class: "btn-sm btn-success" %>
					    <%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
                        <% end %>
					</td>
					<td><a class="book_<%= @book.id %>">
						<%= render 'books/book', book: @book %></a>
					</td>
					<td><a>コメント数：<%= @book.book_comments.count %></a>
					</td>
				</tr>
			</table>
			<p class="comment_<%= @book.id %>">
	        <%= render 'books/comment', book_comments: @book_comments %>
	        </p>
	        <%= form_for [@book, @book_comment], data: {remote: true} do |f| %>
	    <%#= render 'layouts/error_messages', locals: { object: @comment } %>
	    <div class="row">
	    	<div class="col-xs-12">
	    		<%= f.text_area :comment, class: "col-xs-12", rows:'5' %>
	    	</div>
	    </div>
	    <%= f.submit "送信"  %>
	    <% end %>

	</div>
</div>
</div>
