<form class="form-inline">
 <div class="col-md-6 col-md-offset-3">

<%# このform_with文を消すと検索できなくなる %>
<%# user_id部分はなくてもできた %>
<%= form_with url: search_user_path(user_id: @user.id), method: :get, local: true do |f| %>
<% end %>

<%= form_with url: search_user_path(user_id: @user.id), method: :get, local: true do |f| %>
  <%= f.text_field :name %>

 <%#= form_tag(search_user_path(user_id: @user.id), method: "get") do %>
 <%= select_tag "", options_for_select([["User","User"],["Book","Book"]]) %>
 <%# end %>
 <%#= form_tag(search_user_path, method: "get") do %>
 <%= select_tag "", options_for_select(["完全一致","前方一致","後方一致","部分一致"]) %>
 <%# end %>
  <%= f.submit "検索" %>
 <% end %>

 </div>
</form>
